/* Write your code here. */
.white-con {
  display: flex;

  justify-content: center;
}
.gallery-con {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 34px;
  margin-bottom: 34px;
  max-width: 1140px;
}
.selected-Image {
  border-radius: 18px;
}
.heading {
  color: #1e293b;
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
}
.description {
  color: #64748b;
  font-size: 16px;
  font-weight: 500;
}
.thumbnails-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
* {
  font-family: 'Roboto';
}
